/* Lets take our knowledge of CSS selectors, properties, and inheritance to add some style to the Sweet Eats Bakery website.  

Task 1: Explore the CSS.  Look at all the unique selectors.  Find things that are new to you and learn what they do.  Find properties you may not be familiar with and google them.

Task 2: Update the CSS.  You will notice the CSS comments throughout the file below.  Follow the instructions to complete the Sweet Eats Bakery site.  If you follow the instructions, your work should look like the "bakery-home-page.png"  image file in the images/ folder as a final result:

Task 3: Update the HTML. You will notice that no meta information has been provided. Include all the neccesary meta data for search engines as may be needed and also ensure that the webpage is optimized for mobile devices.

Task 4: Look at CSS animations and see if you could integrate them on the navigation hovers.

Task 5: Pick three navigation items and create their corresponding new pages with the same header and footer as the home page.  Example: you could make a new page for cookies.  Be creative and have fun coming up with your own unique content and styles. 

=======SUBMISSION DETAILS========
Date: Sunday, September 3, 2023
Time: 9:00 a.m prompt
Host your solution on Github Pages and link for the solution to be shared on pumble.

*/




/*======= Create a new universal selector that changes the font color to: #3C373B */
*{
  /* created a universal selector to set font color to #3c373b */
  color: #3C373B;
}

h1 a{
  font-family: 'Gaegu', cursive;
  margin: 20px 0;
  padding: 0 60px;
  /*=======  Update the font size to 60px and center the text */
  font-size: 60px;
  text-align: center;
  /* updated the font size to 60px and used text-align to centralize header */
  text-decoration: none;
}

h2, h3, h4, h5, h6 {
  font-family: 'Gaegu', cursive;
  margin-bottom: 0;
  padding: 0 10px;
  /*=======  Update the font size to 30px */
  font-size: 30px;
  /* updated the font to 30px of other headers */
}

/*======= Create a selector for ALL p tags in the site to have the following styles:

font-size: 16px;
font-family: roboto;
padding: 10px;
line-height: 1.4;

*/
p{
  /* addressed all paragraphs using specifications provided */
  font-size: 16px;
  font-family: roboto;
  padding: 10px;
  line-height: 1.4;
}

body div header nav a:hover{
  animation-name: init;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes init{
  from {background-color: pink;}
  to {background-color: red;}
}

/*======= Create a selector for ALL images in the site to have the following styles: 

  border-radius: 10px;

*/
img{
  /* set image borders according to provided specifications */
  border-radius: 10px;
}

body#cat{
  background-color: #ebe1e3;
  background-image: url("../images/try2.jpg");
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-position: center;
}

body div section#cat{
  background-image: url("../images/catering1.jpg");
  width: 100%;
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(45, 55, 240);
  border-radius: 50px;
}

.aboutcat{
  margin-top: 20px;
  background-color: rgb(210, 183, 116);
  border-radius: 10px;
}

body div section#caterers{
  display: flex;
  background-color: azure;
  border-radius: 10px;
}

body div section#caterers1{
  display: flex;
  border-radius: 30px;
}

body div section#cuky{
  background-image: url("../images/cukies.jpg");
  width: 100%;
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
}

body#cok{
  background-color: #facad4;
}

body div section#test{
  display: flex;
}
body div section#cookies1{
  display: flex;
}

body#wed{
  background-color: #5663e8;
  background-image: url("../images/try.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

body div section#wed{
  background-image: url("../images/weddings.jpg");
  width: 100%;
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.aboutwed{
  margin-top: 20px;
  background-color: rgb(233, 215, 218);
  border-radius: 10px;
}

.content-row {
  display: flex;
}

.content-row div {
  /*======= create a margin property.  Set the value to 20px */
  margin: 20px;
  /* created margin property in cookies content using provided specifications */
}

.container {
  /*======= create a width property. Set the value to 600px */
  margin: 0 auto;
  width: 600px;
  /* created a width property according to provided specifications */
}

.container header nav a {
  margin: 0 10px;
  border: 1px solid lightgray;
  padding: 20px;
  display: inline-block;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  margin-bottom: 20px;
   /*======= create a background property. Set the value to #F87B99 */
   background-color: #F87B99;
   /* created a background-color property with provided specifications */
  
}

.container header nav a:hover {
/*======= create a background property and set it to white.  Then create a color property and set it's value to pink. */
background-color: white;
color: pink;
/* created a background-color property and color property using specified value */
}

/*======= Create a selector for the about section to have the following styles:
  margin-top: 20px;
*/
.about{
  /* modified the about section using specidied value */
  margin-top: 20px;
}

.contact-section {
  border-top: 1px dashed black;
  padding: 20px 0;
}

.contact-section h2 {
  padding: 0;
  margin: 0 0 10px 0;
}

/*======= Create a selector for the address tag in the contact-section class to have the following styles:
   line-height: 2;
*/
.contact-section{
  /* created selector for address using contact-section and modified using provided specifications */
  line-height: 2;
}

footer {
  width: 100%;
  background: #F87B99;
  border-top: 1px dashed white;
}

footer .footer-content { 
  margin: 0 auto; 
  /*======= create a width property. Set the value to 600px */
  width: 600px;
  /* created width property using provided specifications */
}

footer .footer-content h3 {
  padding: 0;
  margin: 20px 0;
}

footer nav {
  display: flex;
}

/*======= Create a selector for the anchor tag in the footer to have the following styles:
  margin: 10px;
  color: black;
  text-decoration: underline;
*/
body footer div nav a{
  /* created a selector for the anchor tag in footer using provided specifications for modifications */
  margin: 10px;
  color: black;
  text-decoration: underline;
}

footer nav a:first-child {
  margin-left: 0;
}

/*======= Create a hover state for the anchor tag in the footer nav to have the following styles:
  color: white;
*/
.footer-content nav a:hover{
  /* crreated a hover modification for the anchor tag using provided specifications */
  color: white;
}

footer .footer-content .copyright {
  padding: 20px 0;
   /*======= center the text here */
   text-align: center;
   /* aligned text to the center */
}